body{

    border-radius:15px;
    margin:0px;
    background-color: #F8F0DF;
    padding: 20px;
    
}


.container {


  display:flex;
  flex-direction: column;
  
  align-items: center;
  width: 500px;
  height: 80px;
  
  padding:30px;

  border-radius: 15px;
  


}

.result{

     background-color: rgba(255, 187, 145, 0.3);
    padding:30px;
    border-radius: 15px;
}
#input_box{

    border: 0px;
    outline: 0;
    background-color:rgb(216, 227, 231);

    width:60%;
    font-weight: bold;



}


.search{


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    width:100%;
    height: 60%;
   background-color:rgb(216, 227, 231);
}


#search_Img{

    
    width: 30px;
    height: 30px;
}
p{

     font-weight: bold;
    font-family: 'Rubik' ,sans-serif;
    font-size:15px;
}

h2{

    color: #FF8E6E;
    font-size: 20px;
}
h1{
    color:#FD5E53;
}


/* */
